<form action="/reset" method="post">
  <input type="submit" value="Stlac a pusti Power gombik"  style="height:50px; width:500px"  >
  <br>
</form>

<form action="/on" method="post">
  <br>
  <br>
  <input type="submit" value="Stlac Gombik"  style="height:50px; width:500px" >
  <br>
  <br>
  <br>
</form>

<form action="/off" method="post">
  <input type="submit" value="Pusti Gombik"  style="height:50px; width:500px">
  <br>
  <br>
  <br>
</form>

